@import "./Variables.scss";

// Start Resets Mxinis

@mixin reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin reset-link {
	text-decoration: none;
}

@mixin reset-btn {
	background: none;
	border: 0;
	cursor: pointer;
	outline: none;
}

// End Resets Mxinis
// Start Fonts Mixins

@mixin first-header {
	font-weight: 700;
	color: $thirdColor;
}

@mixin second-header {
	font-weight: 600;
	color: $thirdColor;
}

@mixin body-text {
	font-weight: 400;
	color: $thirdColor;
}

// End Fonts Mixins
// Start Components

@mixin main-btn($btnFontSize, $btnPadding) {
	font-size: $btnFontSize;
	font-weight: 600;
	padding: $btnPadding;
	background-color: $mainColor;
	color: #fff;
	border-radius: 30px;
	box-shadow: 0 8px 15px rgba(#000, 0.1);
	transition: all 0.3s linear;

	&:hover {
		box-shadow: 0 15px 20px rgba($mainColor, 0.4);
		background-color: #fff;
		color: $mainColor;
	}
}

// End Components
