// Main Colors
$mainColor: #47e1ae;
$secondColor: #47aee1;
$thirdColor: #262222;

$backgroundColor: #fff;

// Navar Colors
$navbarLinkColor: #495254;
$navbarBgColor: #fff;

// Media Querys
$minXXLargeScreens: 1400px;

$maxXLargeScreens: 1399px;
$minXLargeScreens: 1200px;

$maxLargeScreens: 1199px;
$minLargeScreens: 992px;

$maxMediumScreens: 991px;
$minMediumScreens: 768px;

$maxSmallScreens: 767px;
$minSmallScreens: 576px;

$maxXSmallScreens: 575px;
