@import "./Sass/Variables.scss";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Raleway", sans-serif;
}

.container {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding-right: 1rem;
	padding-left: 1rem;

	@media (min-width: $minXXLargeScreens) {
		width: 1370px;
	}

	@media (max-width: $maxXLargeScreens) {
		width: 1170px;
	}

	@media (max-width: $maxLargeScreens) {
		width: 100%;
	}
}
