@import "./Sass/Variables.scss";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
}

body {
	font-family: "Raleway", sans-serif;
	background-color: #000;
	padding-top: 83px;
	min-height: 6000px;
	
	@media (max-width: $maxMediumScreens) {
		padding-top: 81px;
	}
}

.container {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding-right: 1rem;
	padding-left: 1rem;

	@media (min-width: $minXXLargeScreens) {
		width: 1370px;
	}

	@media (max-width: $maxXLargeScreens) {
		width: 1170px;
	}

	@media (max-width: $maxLargeScreens) {
		width: 100%;
	}
}
