@import "../../../Sass/Variables";
@import "../../../Sass/mixins";

.services-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;

	@media (max-width: $maxMediumScreens) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: $maxSmallScreens) {
		grid-template-columns: 1fr;
	}

	.services-card {
		background-color: #fff;
		padding: 30px;
		border-radius: 30px;
		box-shadow: 4px 4px 12px #00000021;
		transition: background-color 0.3s linear;

		@media (max-width: $maxSmallScreens) {
			width: 400px;
			margin: auto;
		}

		@media (max-width: $maxXSmallScreens) {
			width: 100%;
		}

		.services-link {
			@include reset-link;
		}

		.card-title {
			@include second-header;
			font-size: 1.3rem;
			color: #000000;
			transition: color 0.3s linear;

			@media (min-width: $minLargeScreens) and (max-width: $maxLargeScreens) {
				font-size: 1.17rem;
			}
		}

		.card-img {
			width: 100%;
			height: 320px;
			margin-top: 20px;
			margin-bottom: 30px;
			display: flex;
			justify-content: center;
			align-items: center;

			@media (min-width: $minLargeScreens) and (max-width: $maxLargeScreens) {
				height: 200px;
			}

			@media (max-width: $maxSmallScreens) {
				height: auto;
			}

			img {
				width: 90%;
				margin: auto;
				display: block;

				@media (max-width: $maxMediumScreens) {
					width: 70%;
				}
			}
		}

		.card-paragraph {
			color: #000000;
			font-size: 1.1rem;
			line-height: 1.5;
			transition: color 0.3s linear;

			@media (min-width: $minLargeScreens) and (max-width: $maxLargeScreens) {
				font-size: 1rem;
			}
		}

		&:hover {
			.card-title,
			.card-paragraph {
				color: #fff;
			}
		}

		&:first-of-type,
		&:nth-child(3) {
			&:hover {
				background-color: $mainColor;
			}
		}

		&:nth-of-type(2),
		&:last-of-type {
			&:hover {
				background-color: $secondColor;
			}
		}
	}
}
